<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href=" ../">
</head>
<body>
    <header>
        <div class="profile-img">
            <img id="profile-preview" width="96" height="96" src="${sessionStorage.getItem('profileImage') || 'https://img.icons8.com/color/96/test-account.png'}" alt="test-account" class="profile_img"/>

        </div>
        <div class="Profole-name">
            <div class="pro-name"><h3>GUEST</h3></div>
            <div class="pro-school_number"><h5>(ﾉ≧ڡ≦)☆</h5></div>
        </div>
        <div class="menu-logo">
            <div class="sq"></div>
            <div class="sq"></div>
            <div class="sq"></div>
        </div>
    </header>
</body>
</html>