@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", serif;
}

h1 ,h2,h3,h4,h5,h6 {
    margin: 0;
}

html, body {
    height: 100%; /* 親要素に高さを100%指定 */
    margin: 0;
    /* overflow: hidden; */
    
}

body {
    overflow: hidden;
    overflow-y: scroll;  /* 縦方向のスクロールを可能にする */
    -webkit-overflow-scrolling: touch;  /* スムーズなスクロール（モバイル用） */
}

main {
    margin-top: 100px;
}

.pro-school_number h5 {
    font-size: 15px;
}

/* スクロールバーを完全に非表示 */
::-webkit-scrollbar {
    display: none;
}


.menu-lo {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    height: 50px;
    width: 50px;
}

.menu-logo svg {
    margin: 0;
    padding: 0;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
    }
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
  


@media (max-width: 345px) {
    .menu-logo {
        /* margin-left:5%; */
        width:  25px !important;
        aspect-ratio: 1 / 1; 
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease;
    }


}

@media (max-width: 500px) {
    body {
        background-color: #FEF6E4; /* 背景色を変更 */
        font-size: 5vw; /* ビューポート幅に基づいたフォントサイズ */
    }

    header {
        width: 100%; /* 親要素に対して相対的にサイズを設定 */
        height: 100px; /* 親要素の高さに対して11% */
        padding: 1%;
        background-color: #172C66;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        color: white;
        display: grid;
        grid-template-columns: 1.7fr 3fr 0.9fr;
        align-items: center;
        position: fixed ;
        top: 0;
        left: 0;
        z-index: 1500;
        transition: top 0.3s; /* スムーズなアニメーション */
        min-height: 100px; /* 親要素の最小高さ */
    }

    header > *:nth-child(3) {
        align-self: flex-start;
    }

    header img {
        object-fit: cover; 
        height: 87%;
        aspect-ratio: 1 / 1; 
        border-radius: 50%;
    }

    .profile-img {
        display: flex;
        justify-content: center;
    }

    .profile-img img{
        height: 60px;
    }

    .profile-img dotlottie-player{
        height: 60px;
    }


}

@media (min-width: 501px) {
    body {
        background-color: #FEF6E4; /* 背景色を変更 */
        font-size:25px; /* ビューポート幅に基づいたフォントサイズ */
    }

    header {
        width: 100%; /* 親要素に対して相対的にサイズを設定 */
        height: 11%; /* 親要素の高さに対して11% */
        padding: 1%;
        background-color: #172C66;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        color: white;
        display: grid;
        grid-template-columns: 1.7fr 3fr 0.9fr;
        align-items: center;
        position: fixed ;
        top: 0;
        left: 0;
        z-index: 1002;
        transition: top 0.3s; /* スムーズなアニメーション */
        min-height: 100px; /* 親要素の最小高さ */
    }

    header > *:nth-child(3) {
        align-self: flex-start;
    }

    header img {
        height: 87%;
    }

    .profile-img {
        display: flex;
        justify-content: center;
        background-color: #50C878;
        border-radius: 50px;

    }

    .profile-img img{
        height: 60px;
    }

    .profile-img dotlottie-player{
        height: 60px;
    }

}

