@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");





/* メニュー */
.menu-container {
    margin-top: 40px;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(23, 44, 102, 0.95);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 1400;
}

.menu-content {
    height: 100vh;

    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.menu-list {
    padding: 20px;
}

/* メニューアイテムのホバー時のエフェクト */
.menu:hover {
    background-color: rgba(0, 92, 204, 0.8); /* 青のホバー色 */
    transform: scale(1.05); /* 少し拡大する */
}

/* メニューアイテムのクリック時 */
.menu:active {
    background-color: rgba(0, 92, 204, 1); /* 青のクリック時の色 */
    transform: scale(1.1); /* クリック時に少し大きくなる */
}



.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-li-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-li-logo img {
    width: 27px;
    height: 27px;
    margin-right: 20px;
}

.menu-li-logo dotlottie-player {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
